html, body, #root, #root>div {
  height: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: 'Roboto-Bold';
  font-size: 84px;
  color: #37474F;
}

.btn {
  padding: 6px 20px;
  background: #5E19F5;
  border: 1px solid #979797;
  border-radius: 8px;
  font-weight: 200;
  font-size: 32px;
  color: #FFFFFF;
}

.btn:hover {
  cursor: pointer;
}

.btn:last-child {
  margin-left: 20px;
}


